{{template "headers" .}}

{{template "imports" .}}

{{template "errors" .}}

{{template "enums" .}}

{{template "messages" .}}

{{template "interfaces" .}}

{{ if .numServices }}
{{template "server" .}}

{{template "client" .}}
{{ end }}