{{define "enums"}}
{{range $i, $e := (MakeIterable .enums.Len) -}}
{{ $enum := ($.enums.Get $i) }}
{{template "enum" $enum}}
{{end -}}
{{end}}

{{define "enum"}}
{{ $enumName := (CamelCase $.FullName) }}
type {{ $enumName }} uint32

const (
{{range $i, $v := (MakeIterable $.Values.Len) -}}
    {{ $val := ($.Values.Get $i) -}}
    {{CamelCase $val.FullName}} = {{ $enumName }}({{ $i }})
{{end -}}
)
{{end}}

