{{define "imports"}}
import (
{{range $im := .requiredImports -}}
    "{{$im}}"
{{end -}}
{{ if .numServices }}
{{range $im := .serviceImports -}}
    "{{$im}}"
{{end -}}
{{end}}
{{ if .numStreamMethods -}}
    {{range $im := .streamMethodImports -}}
        "{{$im}}"
    {{end -}}
{{end -}}
)
{{end}}